/* * {
    border: 2px  solid red;
}  */

body {
font-family: Verdana, sans-serif;
max-width: 700px;
}

img {
    height: auto;
    width: 700px;
}

div {
    background-color: cornsilk;
}

h3 {
    text-indent: 5px;
}
.ingredients {
    line-height: 25px;
    border: 2px solid sienna;
    margin-top: 15px;
}

.ingredients .amount {
    padding-right: 10px;
}

.steps {
    line-height: 25px;
    border: 2px solid sienna;
    margin-top: 15px;
}
