* {
    border: 2px  solid red;
}

body {
font-family: Verdana, sans-serif;
max-width: 700px;
}

img {
    height: auto;
    width: 700px;
}
h1 {

}

h3 {

}

div {
    background-color: cornsilk;
    line-height: 20px;
}

.ingredients {

}

.ingredients .ul .amount {

}

.steps .ol {
line-height: 100px;
}
